TRANSITLAND_API_KEY=
TRANSITLAND_BASE_URL=https://transit.land
GOOGLE_MAPS_API_KEY=
MTA_ALERT_FEED_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/camsys%2Fall-alerts
NJT_ALERT_ENDPOINT=
NJT_API_KEY=
